<tr class="align-middle fade-out">
    <td>
        <div class="d-flex flex-row align-items-center gap-2">
            <i class="bx bx-file fs-5 text-muted"></i>
            <small class=" fw-medium">{{ item.name|truncatechars:30 }}</small>
        </div>
    </td>
    <td>
        <small class="text-muted fw-medium">{{ item.created_at }}</small>
    </td>
    <td>
        <small class="text-muted fw-medium">{{ item.owner.get_full_name }}</small>
    </td>
    <td>
        <small class="text-muted fw-medium">{{ item.size|filesizeformat }}</small>
    </td>
    <td class="d-flex flex-row justify-content-end">
        <div class="btn-group">
            {% if request.resolver_match.view_name == 'home' and item.owner == request.user %}
                <button class="btn btn-light border-0 icon-link"
                        title="Rename"
                        style="--bs-btn-bg: transparent;
                               --bs-btn-padding-y: 0.75rem"
                        data-bs-url="{% url 'rename' file_hash=item.file_hash %}"
                        data-bs-name="{{ item.name }}"
                        data-bs-target="#renameModal"
                        data-bs-toggle="modal">
                    <i class="bx bx-edit-alt"></i>
                </button>
                <button class="btn btn-light border-0 icon-link"
                        title="Share"
                        style="--bs-btn-bg: transparent;
                               --bs-btn-padding-y: 0.75rem"
                        data-bs-url="{% url 'share' file_hash=item.file_hash %}"
                        data-bs-hash="{{ item.file_hash }}"
                        data-bs-name="{{ item.name }}"
                        data-bs-target="#shareModal"
                        data-bs-toggle="modal">
                    <i class="bx bx-user-plus"></i>
                </button>
            {% elif request.resolver_match.view_name == 'home' %}
                <div class="btn btn-outline-secondary border-0 icon-link text-secondary disabled"
                     style="--bs-btn-bg: transparent;
                            --bs-btn-padding-y: 0.75rem;
                            --bs-text-opacity: 0.3"
                     aria-disabled="true">
                    <i class="bx bx-edit-alt"></i>
                </div>
                <div class="btn btn-outline-secondary border-0 icon-link text-secondary disabled"
                     style="--bs-btn-bg: transparent;
                            --bs-btn-padding-y: 0.75rem;
                            --bs-text-opacity: 0.3"
                     aria-disabled="true">
                    <i class="bx bx-user-plus"></i>
                </div>
            {% endif %}
            {% if request.resolver_match.view_name == 'trash' %}
                <button class="btn btn-light border-0 icon-link"
                        title="Restore"
                        style="--bs-btn-bg: transparent;
                               --bs-btn-padding-y: 0.75rem"
                        hx-post="{% url 'restore' file_hash=item.file_hash %}"
                        hx-target="closest tr"
                        hx-swap="outerHTML swap:0.3s">
                    <i class="bx bx-reset"></i>
                </button>
            {% else %}
                <a class="btn btn-light border-0 icon-link"
                   title="Download"
                   style="--bs-btn-bg: transparent;
                          --bs-btn-padding-y: 0.75rem"
                   href="{% url 'file' file_hash=item.file_hash %}"
                   download><i class="bx bx-download"></i></a>
            {% endif %}
            {% if item.owner == request.user %}
                <button class="btn btn-light border-0 icon-link text-danger"
                        title="Delete"
                        style="--bs-btn-bg: transparent;
                               --bs-btn-padding-y: 0.75rem"
                        hx-confirm="Are you sure you want to delete '{{ item.name }}'?"
                        hx-delete="{% url 'file' file_hash=item.file_hash %}"
                        hx-target="closest tr"
                        hx-swap="outerHTML swap:0.3s">
                    <i class="bx bx-trash"></i>
                </button>
            {% else %}
                <div class="btn btn-outline-secondary border-0 icon-link text-secondary disabled"
                     style="--bs-btn-bg: transparent;
                            --bs-btn-padding-y: 0.75rem;
                            --bs-text-opacity: 0.3"
                     aria-disabled="true">
                    <i class="bx bx-trash"></i>
                </div>
            {% endif %}
        </div>
    </td>
</tr>
